#jianjie_container{
	width:228px;
	height:344px;
	margin:2px 0;
	border:2px solid black;
	-webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
}

/*object物品简介*/
.jianjie_top{
	margin:2px 2px;
	height:35px;
	width:calc(100% - 4px);
}


.jianjie_top .jianjie_button{
	float: left;
	width:30px;
	height:30px;
	border:2px solid black;
	border-radius:3px;
	box-sizing:border-box;
}

.jianjie_top div img{
	max-height:100%;
	max-width:100%;
}

.jianjie_top #entity_name{
	text-align:center;
	font-size:25px;
	font-weight:bold;
	height:34px;
	transform: scaleX(0.8);
	width:200%;
	position:relative;
	left:-50%;
	z-index: -1;
}

#jianjie_name{
	margin-top:-2px;
	width:calc(100% - 60px);
	float: left;
}


#jianjie div{
	margin:5px 5px;
}

#jianjie div div{
	margin:0px
}

#jianjie{
	overflow-x:hidden;
	position:relative;
	font-size:16px;
	overflow:auto;
	height:300px;
	line-height:20px;
	word-wrap: break-word;
}



/*针对具有多行元素*/
.multi_line_container{
	display: flex;
}


.dashed_line{
	padding:0;
	position:relative;
  	left: 1%;
	width:95%;
	border-bottom:2px dashed black;
	box-sizing: border-box;
}

#separete{
	border-bottom:2px dashed black;
	width:95%;
	top:0px;
	left:5px;
}

