#main_div{
	display:none;
}

#information{
	display:none;
}

#start_div{
	margin:2px;
	width:calc(100% - 4px);
	height:calc(100% - 4px);
}

#start_title{
	display: flex;
  	align-items: center;
    justify-content: center; /* 水平居中 */
	font-size:100px;
	width:100%;
	height:40%;
	border: 2px solid black;
	border-radius:3px;
	box-sizing:border-box;
}

#start_inner{
	width:100%;
	height:60%;
	display:flex;
}

.start_block,.start_block_last{
	font-size:50px;
	width:25%;
	height:calc(100% - 2px);
	margin:2px 0;
	margin-right:2px;
	border:2px solid black;
	border-radius:3px;
	box-sizing: border-box;
	transform: scale(1);
}

.start_block_last{
	margin-right:0px;
}

.start_block_white{

    text-align:center;
	background-color:white;

	position:relative;
	top:0px;

	color:black;
	height:100%;
	width:100%;
	z-index:1;
	overflow:hidden;

	border:2px solid transform;
	border-radius:3px;
	box-sizing:border-box;
}

.start_block_black{
	display: flex;
  	align-items: center;
    justify-content: center; /* 水平居中 */
	position:absolute;
	top:0px;
	z-index:-1;
	background-color:black;
	color:white;
	height:100%;
	width:100%;
}

.start_block_text{
	position:absolute;
	white-space: nowrap;
	top:50%;
	left:50%;
  	transform: translate(-50%, -50%);
    will-change: transform; /*添加will-change属性*/
}




.start_about_version{

	font-size:16px;
	position:absolute;
	bottom:5px;
	right:5px;
}

.start_about_version_white{

	font-size:16px;
	position:absolute;
	top:153.2px;
	left:-6.9px;
}