#select_block_folded{
	display:block;
	height:24px;
	float: right;
	border:2px solid black;
	border-radius:3px;
	box-sizing: border-box;
}

	#select_block_folded img{
		position: relative;
    	top: -4px;
		max-width:20px;
		max-height:20px;
	}

#select_block{
	display:none;
	font-size:20px;
	text-align:left;
	line-height:20px;

	position:relative;
	width:126px;
	height:100px;

	float: right;
	border:2px solid black;
	border-radius:3px;
	box-sizing: border-box;
}

#select_block_top{
	line-height:25px;
		height:27px;
		text-align:center;
		font-size:18px;
		font-weight:bold;
}

.select_block .dashed_line{
	margin:2px 0;
	left:2px;
}

	#select_block_fold{
		width:20px;
		height:20px;
		position:relative;
		top:-25px;
		left:100px;
	}

	#select_block_fold img{
		max-width:20px;
		max-height:20px;
	}

#select_block_inner{
	margin:2px;
	font-size:15px;
	height:42px;
}

	#select_block_select{
		border:none;
		width:82px;
	}

	#select_block_type .dropdown{
		text-align: right;
		height:25px;
		width:78px;
		margin-right:4px;
		position:relative;
		float: right;
	}

	#select_block_type .dropdown-menu{
		z-index:100;
	}

	#select_block_type .dropdown-menu > li > a {
		padding:3px 5px;
	}

	#select_block_type .dropdown-toggle{
		padding-left:2px;
		font-size:15px !important;
		border:none !important;
		padding:0px;
	}

	.bootstrap-select .dropdown-toggle:focus {
  		outline: none;
  		box-shadow: none;
	}

	.dropdown-menu {
		width: 78px; /* 设置宽度 */
		max-height: 200px; /* 设置最大高度 */
		overflow: auto; /* 添加滚动条 */
	}

	.dropdown-menu::-webkit-scrollbar {
		width: 2px; /* 设置滑块宽度 */
	}

	.dropdown-menu::-webkit-scrollbar-thumb {
		background-color: black; /* 设置滑块颜色 */
	}

	.dropdown-menu::-webkit-scrollbar-track {
  		background-color: white; /* 设置滑道颜色 */
	}

	.dropdown-menu .inner {
  		overflow-x:hidden !important;
	}

	.filter-option-inner-inner{
		margin-left:5px;
	}


	#select_block_price{
		margin-top:-8px;
		float: left;
	}
	#select_blcok_price_input{
		float: right;
	}

		#select_blcok_price_input input{
			text-align: right;
			border-left:none;
			border-top:none;
			border-right:none;
			border-bottom:2px dashed black;
			width:34px;
			height:20px;
			box-sizing: border-box;
		}

		#select_blcok_price_input input::-webkit-outer-spin-button,
		#select_blcok_price_input input::-webkit-inner-spin-button {
	  		-webkit-appearance: none;
	  		margin: 0;
		}

		#select_blcok_price_input input:focus{
			outline: none;
			box-shadow: 0px ;
		}


#select_block_confirm{
		position:absolute;
		bottom:0px;
		text-align:center;
		font-size:18px;
		margin:1.6px;
		width:116px;
		border:2px solid black;
		border-radius:3px;
	}

	#select_block_confirm:hover{
		color:white;
		background-color:black;
	}
