

#package_use{
	position:absolute;
	font-size:18px;
}


#package_use{
	display:none;
	width:122px;
	max-height:24px;
	overflow:hidden;
	border-radius:3px;
	border:2px solid black;
}

#package_use_targetsContainer{
	overflow:auto;
	height:0px;

}

#package_use_top{
	position:relative;
	text-align: center;
}