#movement{
	margin:2px;
	width:600px;
	height:128px;
	position:relative;
	z-index:-1;
}

#movement_container > div{
	width:97.7px;
	height:128px;

	border:2px solid black;
	box-sizing: border-box;

	float:left;
	margin-right:2px;
}

.movement_box{
	height:100%;
	width:100%;
}

.movement_box_white{
	position:relative;
	background-color:white;
	line-height:110px;
	font-size:40px;
	text-align:center;

	width:100%;
	height:100%;


    z-index:-2;
    overflow:hidden;
}
.movement_box_black{
	position: absolute;
	top:0px;

	background-color: black;
	color:white;
	line-height:110px;
	font-size:40px;
	text-align:center;

	width:95px;
	height:100%;

	z-index:-3;
}