#outside_block{
	font-size:16px;

 	position:relative;
	display: flex;
	width:596px;
	height:316px;
	border:2px solid black;
	box-sizing: border-box;
}

#outside_block::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
    height:95%;
  transform: translate(-50%,-50%);
  border-left: 1.6px dashed black; /* 设置左边框样式和宽度 */
}

.character_block, .enemy_block{
	line-height:18px;
	margin-bottom:2px;
}


#team_bar{
	width:calc(50% - 2.5em);
	margin:10px 10px;
}

#enemy_bar{
	width:calc(50% - 2.5em);
	justify-content:flex-end;
	margin:10px 10px;
	margin-left:auto;
}

#enemy_bar .character_line{
	justify-content:flex-end;
}

#enemy_bar .top_line{
	justify-content:flex-end;
}
/**/
.top_line{
	display:flex;
}
	.top_line div:nth-child(1){
		width:6em;
	}
	.top_line div:nth-child(2){
		width:4em;
	}
	.top_line div:nth-child(3){
		width:6em;
		text-align: center;
	}
/**/


.character_line{
	display:flex;

}

.character_line div:nth-child(1){
	width:6em;

}
.character_line div:nth-child(2){
	width:4em;
}
.character_line div:nth-child(3){
	width:6em;
	text-align: center;
}

.buff_line{
	position:relative;
	left:-0.5em;
}

.buff_line > span{
	margin-right:-1em;
}


